.main {
  background-image: url("@/assets/main-background.jpg");
  width: 100vw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(12px, 8vw, 58px);
  text-align: center;
  text-transform: uppercase;
  color: hsl(var(--primary-foreground));
  letter-spacing: 1rem;
  margin-left: 1rem;
  margin-bottom: 62px;
}
